{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('booksStyles') }}
{% endblock %}

{% block body %}
    <div class="p-8">
        <table class="min-w-full divide-y divide-gray-200">
            <tbody class="bg-white divide-y divide-gray-200">
            {% for category, details in categories %}
            <tr>
                <td class="py-4">
                    <h4 class="text-lg font-bold mb-1">
                        <a href="/books/category/{{ category }}">
                            {{ category }}
                        </a>
                    </h4>
                    <table class="bg-white divide-y divide-gray-200">
                        {% if details.books|length %}
                            {% for book in details.books %}
                                <tr>
                                    <td>
                                        <a href="/books/book/{{ book.id }}">
                                            {{ book.title }} ({{ book.authorFirstName ~ ' ' ~ book.authorLastName }})
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>No books with this category</td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
