<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <div class="flex-shrink-0">
                    <a class="font-bold text-gray-300 hover:text-white" href="#">Kindle Notes</a>
                </div>
    {% if is_granted('ROLE_USER') %}
        {% set route = app.request.attributes.get('_route') %}
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a class="px-3 py-2 rounded-md text-sm font-medium{% if route == 'books' %} bg-gray-900 text-white{% else %} text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}" href="{{ path('books') }}">
                            Books
                        </a>
                        <a class="px-3 py-2 rounded-md text-sm font-medium{% if route == 'categories' %} bg-gray-900 text-white{% else %} text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}" href="{{ path('categories') }}">
                            Categories
                        </a>
                        <a class="px-3 py-2 rounded-md text-sm font-medium{% if route == 'tags' %} bg-gray-900 text-white{% else %} text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}" href="{{ path('tags') }}">
                            Tags
                        </a>
                        <a class="px-3 py-2 rounded-md text-sm font-medium{% if route == 'show_import' %} bg-gray-900 text-white{% else %} text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}" href="{{ path('show_import') }}">
                            Import
                        </a>
                        <a class="px-3 py-2 rounded-md text-sm font-medium{% if route == 'trash' %} bg-gray-900 text-white{% else %} text-gray-300 hover:bg-gray-700 hover:text-white{% endif %}" href="{{ path('trash') }}">
                            Trash
                        </a>
                        <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" href="{{ path('truncate_db') }}">
                            Truncate DB!
                        </a>
                    </div>
                </div>
    {% endif %}
            </div>
            <div class="hidden md:block">
                <div class="ml-4 flex items-center md:ml-6">
            {% if is_granted('ROLE_USER') %}
                    <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" href="{{ path('app_profile') }}">Profile</a>
                        <a class="dropdown-item px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" href="{{ path('app_logout') }}">Logout</a>
                    </div>
            {% else %}
                    <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" href="{{ path('app_login') }}">Login</a>
                    <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" href="{{ path('app_register') }}">Register</a>
            {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
